body {
	margin: 0;
	font-family: Roboto;
	overflow-y: hidden;
	background: url("https://w.wallha.com/ws/15/GlcjJe0V.jpg") no-repeat fixed;
	background-size: cover;
}

button {
	outline: none;
}

#googlebtn img, #youtubebtn img {
	max-height: 50px;
	margin-bottom: 0;
}

#googlebtn, #youtubebtn {
	align-items: center;
	margin: 5px;
	max-width: 90px;
	max-height: 120px;
	height: 120px;
	width: 90px;
	background: transparent;
	border: 1px solid gray;
	color: white;
}

#googlebtn p, #youtubebtn p {
	margin: 0;
}
