/*
#time {
	display: inline-block;
	font-size: 100px;
	text-align: right;
	bottom: auto;
	color: #00FFFF;
	border-radius: 30px;
	border-top: 15px;
	padding: 250px;
	background: url('https://cdn.discordapp.com/attachments/837629026796306435/959114448923144192/wallpapersden.com_anime-girl-at-starry-night_1920x1080.jpg?size=4096');
	background-size: cover;
	background-position: center;
}*/